<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697362377676-jrsc55t7r811f37fta8il2skkift41k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697362377676-jrsc55t7r811f37fta8il2skkift41k2</string>
	<key>API_KEY</key>
	<string>AIzaSyBcuH9UuP8g4QMnUMsqGU57WQLFsxvUxtc</string>
	<key>GCM_SENDER_ID</key>
	<string>697362377676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-a1705</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-a1705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697362377676:ios:17c2e35ee0c188c943cb69</string>
</dict>
</plist>